{% extends "base.html" %}
{% block header %}

  <!-- Page Header-->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Couple Dating Map</h1>
                    <span class="subheading">by Peiwei</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" line height = 20px>
            <div class="post-preview">
                    <h2 class="post-title" font style="font-size:30px">Diy Workshop</h2>
                <p class="post-meta">
Of course,we enjoy making rings together.
                </p>
            </div>
            <hr />
            <div class="post-preview">
                <h2 class="post-title"  font style="font-size:30px">Couple Photography</h2></a>
                <p class="post-meta">
Let's record our smiles!
                </p>
            </div>
            <hr />
            <div class="post-preview">
                
                    <h2 class="post-title" font style="font-size:30px">Sudio</h2>
                <p class="post-meta">
How about making meaningful love songs?
                </p>
            </div>
            <hr />
            <div class="post-preview">
                    <h2 class="post-title" font style="font-size:30px">To be continued……</h2>
            </div>
            <hr />
            <!-- Pager-->
            <div class="clearfix"><a class="btn btn-primary float-right" href="#!">more possiblities →</a></div>
        </div>
    </div>
<hr />
{% endblock %}